* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

@keyframes bounce {
  0% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(-35deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.vp-anime {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  line-height: 4.5rem;
}
.vp-anime__container {
  font-weight: 600;
  overflow: hidden;
  height: 4rem;
  padding: 0 4rem;
}
.vp-anime__container:before {
  content: "[";
  left: 0;
}
.vp-anime__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.vp-anime__container:after, .vp-anime__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 4.2rem;
  line-height: 4rem;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.vp-anime__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.vp-anime__container__list {
  margin-top: 0;
  padding-left: 1.1rem;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.vp-anime__container__list__item {
  line-height: 4rem;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.vpcontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--text);
  margin: auto;
  text-align: center;
}
header h2 a {
  font-size: 3.5rem;
}
header h2 a span {
  animation: bounce 2s;
  display: inline-block;
}
header h2 :hover {
  color: var(--primary);
}
@media (max-width: 480px) {
  header {
    flex-flow: column;
    padding: 0.2;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 1.8rem;
  padding: 1rem 0rem;
}
nav ul li {
  padding: 0rem 3rem;
  font-weight: 600;
}
nav ul li :hover {
  color: var(--primary);
}
@media (max-width: 480px) {
  nav ul li {
    padding: 0rem 1rem;
  }
}

.logo {
  margin: 2rem 0rem;
}
.logo i {
  color: var(--primary);
  margin: 0rem 1rem;
  font-size: 4rem;
}

.phone-number {
  font-size: 1.7rem;
  text-align: right;
  color: var(--primary);
  padding: 0.5rem 0rem;
}
.phone-number :hover {
  color: var(--primary);
}
.phone-number i {
  padding-right: 1rem;
  font-size: 2.5rem;
}
@media (max-width: 480px) {
  .phone-number {
    display: none;
  }
}

.vp {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 70vh;
}
@media (max-width: 480px) {
  .vp {
    min-height: 58vh;
  }
}
.vp video {
  object-fit: cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.vp-content {
  text-align: center;
  max-width: 800px;
  padding: 1rem;
  position: relative;
}
.vp-content p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 3rem;
  padding-bottom: 1rem;
}
.vp-content a {
  font-size: 2rem;
  color: white;
}
.vp-content a :hover {
  color: var(--primary);
}
.vp-content h3 {
  padding-bottom: 2rem;
}
.vp-content button:hover {
  background: var(--light);
}

.section {
  background: url(../img/vitalii-pavlyshynets-kcRFW-Hje8Y-unsplash.jpg) center center/cover;
  min-height: 20vh;
  color: white;
}
.section h1 {
  text-align: center;
  padding: 6rem;
}

.mentions {
  margin: 2rem;
}
.mentions h2 {
  text-align: center;
}

.offer {
  padding: 5rem 1rem;
}

.container-offer p {
  text-align: center;
  font-weight: 300;
  text-decoration: underline;
}

.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .offer-list {
    flex-flow: column;
  }
}

.offer-elem {
  border: 1px solid var(--border);
  border-radius: 10px;
  background: white;
  margin: 1rem;
  padding: 0.5rem;
  flex: 1;
  text-align: center;
  box-shadow: var(--shadow-1);
}
.offer-elem p {
  text-decoration: none;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.offer-elem-img {
  width: 100%;
  border-radius: 10px;
}

.offer-elem-text {
  padding: 2rem;
  text-align: center;
}

.offer-separator {
  height: 2px;
  width: 90px;
  margin: 1rem auto;
  background: var(--hint);
}

.container-who {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
}
@media (max-width: 480px) {
  .container-who {
    flex-flow: column-reverse;
  }
}

.who-content-img {
  flex: 1;
  background: url(../img/gian-cescon-00ByEXKcSkA-unsplash.jpg) center center/cover;
  min-height: 200px;
  border-radius: 20px;
  margin: 0rem 1rem;
}

.who-content-text {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.who-content-text p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.who-content-text h2 {
  margin-bottom: 2rem;
}
.who-content-text strong {
  color: var(--primary);
}

.social {
  margin: 2rem 0 0 0;
  font-size: 2rem;
  padding: 1rem 2rem;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: white;
  border-radius: 10px 10px 0px 0px;
}
.social :hover {
  color: var(--primary);
}
@media (max-width: 480px) {
  .social {
    padding: 1rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-media {
  margin: 0rem 2rem;
}
.social-media a {
  color: white;
  font-size: 4rem;
  display: block;
  margin: 0;
}
@media (max-width: 480px) {
  .social-media a {
    font-size: 3rem;
  }
}
.social-media a i {
  padding: 0 2rem;
}
@media (max-width: 480px) {
  .social-media a i {
    padding: 0 1rem;
    margin: 0rem 0.2rem;
  }
}

/* form-contact */
.contact {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .contact {
    margin-bottom: 10rem;
  }
}

.contact-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  border: 0;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--text);
  outline: 0;
  margin-bottom: 1rem;
}

.contact-form button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 30px;
  background: var(--primary);
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  min-width: 20rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: var(--light);
}

.btn {
  display: inline-block;
  padding: 0.2rem 2rem;
  border-radius: 30px;
  font-weight: 0.5rem;
  font-size: 1.6rem;
  background: var(--primary);
  border: 0px;
}

footer {
  padding: 0rem 2rem;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  font-weight: 500;
  color: white;
}
footer a {
  padding: 0rem 2rem;
  color: white;
}
footer i {
  padding: 0rem 0.5rem;
  color: white;
  font-weight: 1rem;
}

/*# sourceMappingURL=style.css.map */
