@import "reset";
@import "base";
@import "animation";
@import "media-queries";

// container
.vpcontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
// header
header {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--text);
  margin: auto;
  text-align: center;
  h2 {
    a {
      font-size: 3rem;
      span {
        animation: bounce 2s;
        display: inline-block;
      }
    }
  }
  ul {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.8rem;
    li {
      margin: auto;
      padding-left: 3rem;
      font-weight: 600;
    }
  }
  @include xs {
    flex-flow: column;
  }
}
.vp-logo {
  font-size: 1.8rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  i {
    color: var(--primary);
    margin: 0rem 1rem;
    font-size: 2.5rem;
  }
}
.vp {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/vitalii-pavlyshynets-kcRFW-Hje8Y-unsplash.jpg) center
    center/cover;
  min-height: 90vh;
}
.vp-content {
  text-align: center;
  max-width: 800px;
  color: white;
  padding: 1rem;
  h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
  }
}
// offer
.offer {
  padding: 5rem 1rem;
}
.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}
.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include xs {
    flex-flow: column;
  }
}
.offer-elem {
  border: 1px solid var(--border);
  border-radius: 10px;
  background: white;
  margin: 1rem;
  padding: 0.5rem;
  flex: 1;
  text-align: center;
}
.title {
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.offer-elem-img {
  width: 100%;
  border-radius: 10px;
}
.offer-elem-text {
  padding: 2rem;
  text-align: center;
}
.offer-separator {
  height: 2px;
  width: 70px;
  margin: 1rem auto;
  background: #333;
}
// who
.container-who {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
}
.who-content-img {
  flex: 1;
  background: url(../img/jon-ly-UIPjy2XRoJQ-unsplash.jpg) center center/cover;
  min-height: 200px;
  border-radius: 20px;
}
.who-content-text {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  strong {
    color: green;
  }
}
// contact
.contact {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  padding: 1rem 2rem;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: white;
  .social-container {
    // padding: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // @include xs {
    //   flex-direction: column;
    // }
  }
  .social {
    margin: 2rem 2rem;
    i {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
      margin: 0;
    }
    a {
      color: white;
      font-size: 2rem;
      display: block;
      margin: 0;
    }
  }
}
