@import "reset";
@import "base";
@import "animation";
@import "media-queries";

// container
.vpcontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
// header
header {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--text);
  margin: auto;
  text-align: center;
  h2 {
    a {
      font-size: 3.5rem;
      span {
        animation: bounce 2s;
        display: inline-block;
      }
    }
    :hover {
      color: var(--primary);
    }
  }
  @include xs {
    flex-flow: column;
    padding: 0.2;
  }
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 1.8rem;
    padding: 1rem 0rem;
    li {
      // margin: auto;
      padding: 0rem 3rem;
      font-weight: 600;
      :hover {
        color: var(--primary);
      }
      @include xs {
        padding: 0rem 1rem;
      }
    }
  }
}
.logo {
  margin: 2rem 0rem;
  i {
    color: var(--primary);
    margin: 0rem 1rem;
    font-size: 4rem;
  }
}
.phone-number {
  font-size: 1.7rem;
  text-align: right;
  color: var(--primary);
  padding: 0.5rem 0rem;
  :hover {
    color: var(--primary);
  }
  i {
    padding-right: 1rem;
    font-size: 2.5rem;
  }
  @include xs {
    display: none;
  }
}
.vp {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 50vh;
  video {
    object-fit: cover;
    position: absolute;
    // top: 0;
    left: 0;
    width: 100%;
    // height: 50rem;
  }
}
.vp-content {
  text-align: center;
  max-width: 800px;
  padding: 1rem;
  position: relative;
  p {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 3rem;
    padding-bottom: 1rem;
  }
  a {
    font-size: 2rem;
    color: white;
    :hover {
      color: var(--primary);
    }
  }
  h3 {
    padding-bottom: 2rem;
  }
  button:hover {
    background: var(--light);
  }
}
.section {
  // text-align: center;
  background: url(../img/vitalii-pavlyshynets-kcRFW-Hje8Y-unsplash.jpg) center
    center/cover;
  min-height: 20vh;
  color: white;
  h1 {
    text-align: center;
    padding: 6rem;
  }
}
.mentions {
  margin: 2rem;
  h2 {
    text-align: center;
  }
}
// offer
.offer {
  padding: 5rem 1rem;
}
.container-offer {
  // display: block;
  // max-width: 1200px;
  // margin: auto;
  p {
    text-align: center;
    font-weight: 300;
    text-decoration: underline;
  }
}
.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include xs {
    flex-flow: column;
  }
}
.offer-elem {
  border: 1px solid var(--border);
  border-radius: 10px;
  background: white;
  margin: 1rem;
  padding: 0.5rem;
  flex: 1;
  text-align: center;
  box-shadow: var(--shadow-1);
  p {
    text-decoration: none;
  }
}
.title {
  font-size: 3rem;
  text-align: center;
}
.offer-elem-img {
  width: 100%;
  border-radius: 10px;
}
.offer-elem-text {
  padding: 2rem;
  text-align: center;
}
.offer-separator {
  height: 2px;
  width: 90px;
  margin: 1rem auto;
  background: var(--hint);
}
// who
.container-who {
  display: flex;
  flex-flow: row nowrap;
  min-height: 600px;
  @include xs {
    flex-flow: column-reverse;
  }
}
.who-content-img {
  flex: 1;
  background: url(../img/gian-cescon-00ByEXKcSkA-unsplash.jpg) center
    center/cover;
  min-height: 200px;
  border-radius: 20px;
  margin: 0rem 1rem;
}
.who-content-text {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  strong {
    color: var(--primary);
  }
}
// social
.social {
  margin: 2rem 0 0 0;
  font-size: 2rem;
  padding: 1rem 2rem;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: white;
  border-radius: 10px 10px 0px 0px;
  :hover {
    color: var(--primary);
  }
  @include xs {
    padding: 1rem 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include xs {
    // flex-flow: column;
  }
}
.social-media {
  margin: 0rem 2rem;
  a {
    color: white;
    font-size: 4rem;
    display: block;
    margin: 0;
    @include xs {
      font-size: 3rem;
    }
    i {
      padding: 0 2rem;
      @include xs {
        padding: 0 1rem;
        margin: 0rem 0.2rem;
      }
    }
  }
}
/* form-contact */
.contact {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include xs {
    margin-bottom: 10rem;
  }
}
.contact-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form input {
  border: 0;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--text);
  outline: 0;
  margin-bottom: 1rem;
}
.contact-form button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 30px;
  background: var(--primary);
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  min-width: 20rem;
  cursor: pointer;
}
.contact-form button:hover {
  background: var(--light);
}
.btn {
  display: inline-block;
  padding: 0.2rem 2rem;
  border-radius: 30px;
  font-weight: 0.5rem;
  font-size: 1.6rem;
  background: var(--primary);
  border: 0px;
}
// footer
footer {
  padding: 0rem 2rem;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  font-weight: 500;
  color: white;
  a {
    padding: 0rem 2rem;
    color: white;
  }
  i {
    padding: 0rem 0.5rem;
    color: white;
    font-weight: 1rem;
  }
}
