:root {
  //   font
  // --font-family: "Open Sans", sans-serif;
  --font-family: "Sora", sans-serif;
  //   collor
  --light: #57d18e;
  --primary: #2d6a4f;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
  // shadow
  --shadow-1: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 1px 3px 1px rgb(60 64 67 / 15%);
}
